In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from termcolor import colored
import plotly.express as px
from sklearn.model_selection import train_test_split
#from catboost import CatBoostClassifier
from sklearn.metrics import f1_score,accuracy_score,classification_report
import warnings
warnings.filterwarnings('always')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
Train = pd.read_csv('/content/drive/MyDrive/zindi/zindi_DataDrive2030 Early Learning Predictors Challenge/Train.csv')
Train.head()

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
<ipython-input-5-bd67849b69c3>:1: DtypeWarning: Columns (140,172,254,257,275,306,343,358,373,374,461,635,641,642,643) have mixed types. Specify dtype option on import or set low_memory=False.
  Train = pd.read_csv('/content/drive/MyDrive/zindi/zindi_DataDrive2030 Early Learning Predictors Challenge/Train.csv')

,child_id,data_year,child_date,child_age,child_enrolment_date,child_months_enrolment,child_grant,child_years_in_programme,child_height,child_observe_attentive,...,obs_cooking_5,obs_cooking_6,obs_heating_1,obs_heating_2,obs_heating_3,obs_heating_4,obs_heating_5,obs_heating_6,obs_heating_7,target
0,ID_SYSJ2FM0D,2022.0,2022-02-03,59.000000,NaN,NaN,NaN,NaN,NaN,Sometimes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.500000
1,ID_J5BTFOZR3,2019.0,NaN,60.163933,NaN,NaN,NaN,1st year in the programme,103.000000,Sometimes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.869999
2,ID_R00SN7AUD,2022.0,2022-03-11,69.000000,NaN,NaN,NaN,NaN,108.400002,Often,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.520000
3,ID_BSSK60PAZ,2021.0,2021-10-13,53.000000,2020-01-15,20.0,No,1st year in the programme,98.099998,Almost always,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.599998
4,ID_IZTY6TC4D,2021.0,2021-10-13,57.000000,2021-10-13,0.0,NaN,2nd year in programme,114.000000,Almost always,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,76.599998

In [ ]:
from sklearn.feature_selection import VarianceThreshold

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
#pri_toys
features = []; cat_features = []; not_features = []; nums=[]
for k in Train.columns[1:]:
    if Train[k].isnull().sum() < 6000:
        features.append(k)
        if Train[k].dtype == 'O':
            cat_features.append(k)
            print('There is '+ str(len(Train[k].value_counts()))+' Class in: ' +k)
        else:
          nums.append(k)
    else:
        not_features.append(k)

print('----------------------------------')
print('We have '+str(len(features)) + ' features')
print('We have '+str(len(cat_features)) + ' categorical features')
print('We have '+str(len(not_features)) + ' features that have more than 6000 of missing values')

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

There is 254 Class in: child_date
There is 535 Class in: child_enrolment_date
There is 4 Class in: child_grant
There is 4 Class in: child_years_in_programme
There is 4 Class in: child_observe_attentive
There is 4 Class in: child_observe_concentrated
There is 4 Class in: child_observe_diligent
There is 4 Class in: child_observe_interested
There is 2 Class in: child_gender
There is 1018 Class in: child_dob
There is 3 Class in: child_stunted
There is 4 Class in: child_age_group
There is 153 Class in: id_mn_best
There is 10 Class in: prov_best
There is 50 Class in: id_dc_best
There is 50 Class in: dc_best
There is 153 Class in: mn_best
There is 5 Class in: pra_free_play
There is 4 Class in: pra_free_play_outdoor
There is 31 Class in: pra_groupings
There is 2 Class in: pra_groupings_1
There is 2 Class in: pra_groupings_2
There is 2 Class in: pra_groupings_3
There is 2 Class in: pra_groupings_4
There is 2 Class in: pra_groupings_5
There is 3 Class in: pra_engaged
There is 4 Class in: pra_agency_choice
There is 4 Class in: pra_agency_explore
There is 4 Class in: pra_agency_questions
There is 4 Class in: pra_agency_understand
There is 4 Class in: pra_agency_play
There is 4 Class in: pra_agency_learn
There is 4 Class in: pra_agency_order
There is 8 Class in: pra_plans
There is 2 Class in: pra_plans_1
There is 2 Class in: pra_plans_2
There is 2 Class in: pra_plans_3
There is 2 Class in: pra_plans_0
There is 2 Class in: pra_ind
There is 2 Class in: pri_mobile
There is 2 Class in: pri_school
There is 2 Class in: pri_holidays
There is 15 Class in: pri_calc_time_open
There is 27 Class in: pri_calc_time_close
There is 3 Class in: pri_separate
There is 64 Class in: pri_language
There is 2 Class in: pri_language_1
There is 2 Class in: pri_language_2
There is 2 Class in: pri_language_3
There is 2 Class in: pri_language_4
There is 2 Class in: pri_language_5
There is 2 Class in: pri_language_6
There is 2 Class in: pri_language_7
There is 2 Class in: pri_language_8
There is 2 Class in: pri_language_9
There is 2 Class in: pri_language_10
There is 2 Class in: pri_language_11
There is 2 Class in: pri_language_97
There is 1 Class in: pri_toys
There is 2 Class in: pri_aftercare
There is 2 Class in: pri_fees
There is 2 Class in: pri_fees_free
There is 11 Class in: pri_facilities
There is 12 Class in: pri_land
There is 3 Class in: pri_bank
There is 2 Class in: pri_transport
There is 26 Class in: pri_meal
There is 2 Class in: pri_meal_1
There is 2 Class in: pri_meal_3
There is 2 Class in: pri_meal_4
There is 2 Class in: pri_meal_2
There is 5 Class in: pri_registered_partial
There is 5 Class in: pri_registered_programme
There is 2 Class in: pri_registered_npo
There is 5 Class in: pri_registered_dsd
There is 2 Class in: pri_subsidy
There is 2 Class in: pri_network
There is 2 Class in: pri_attendance_usual
There is 2 Class in: pri_precovid_attendance
There is 3 Class in: pri_kitchen
There is 2 Class in: pri_funding_6
There is 2 Class in: pri_funding_7
There is 2 Class in: pri_funding_donations
There is 2 Class in: pri_funding_97
There is 5 Class in: pri_attendance
There is 2 Class in: pri_meals
There is 4 Class in: teacher_social_peers
There is 4 Class in: teacher_social_nonaggressive
There is 4 Class in: teacher_social_cooperate
There is 4 Class in: teacher_social_assistance
There is 4 Class in: teacher_social_ideas
There is 4 Class in: teacher_social_initiative
There is 3 Class in: teacher_emotional_understand
There is 3 Class in: teacher_emotional_appropriate
There is 3 Class in: teacher_emotional_independent
There is 3 Class in: teacher_emotional_adjust
There is 3 Class in: teacher_emotional_confidence
There is 3 Class in: teacher_emotional_selfstarter
There is 2 Class in: teacher_social_met
There is 2 Class in: teacher_emotional_met
There is 2 Class in: teacher_selfcare_met
There is 2 Class in: hle_ind
There is 2 Class in: obs_firstaid
There is 2 Class in: obs_space
There is 167 Class in: obs_area
There is 2 Class in: obs_area_1
There is 2 Class in: obs_area_2
There is 2 Class in: obs_area_3
There is 2 Class in: obs_area_4
There is 2 Class in: obs_area_5
There is 2 Class in: obs_area_6
There is 2 Class in: obs_area_7
There is 2 Class in: obs_area_8
There is 2 Class in: obs_area_0
There is 1107 Class in: obs_materials
There is 2 Class in: obs_materials_1
There is 2 Class in: obs_materials_2
There is 2 Class in: obs_materials_3
There is 2 Class in: obs_materials_4
There is 2 Class in: obs_materials_5
There is 2 Class in: obs_materials_6
There is 2 Class in: obs_materials_7
There is 2 Class in: obs_materials_8
There is 2 Class in: obs_materials_9
There is 2 Class in: obs_materials_10
There is 2 Class in: obs_materials_11
There is 2 Class in: obs_materials_12
There is 2 Class in: obs_materials_13
There is 2 Class in: obs_materials_14
There is 2 Class in: obs_materials_15
There is 2 Class in: obs_materials_16
There is 2 Class in: obs_materials_17
There is 2 Class in: obs_materials_18
There is 2 Class in: obs_materials_19
There is 2 Class in: obs_materials_20
There is 2 Class in: obs_materials_97
There is 2 Class in: obs_materials_0
There is 2 Class in: obs_accessible
There is 2 Class in: obs_books
There is 2 Class in: obs_books_age
There is 7 Class in: obs_heating_census
There is 7 Class in: obs_lighting_census
There is 6 Class in: obs_cooking_census
There is 7 Class in: obs_water
There is 2 Class in: obs_potable
There is 15 Class in: obs_handwashing
There is 2 Class in: obs_handwashing_1
There is 2 Class in: obs_handwashing_2
There is 2 Class in: obs_handwashing_3
There is 2 Class in: obs_handwashing_0
There is 2 Class in: obs_handwashing_97
There is 46 Class in: obs_toilet
There is 2 Class in: obs_toilet_1
There is 2 Class in: obs_toilet_2
There is 2 Class in: obs_toilet_3
There is 2 Class in: obs_toilet_4
There is 2 Class in: obs_toilet_5
There is 2 Class in: obs_toilet_6
There is 2 Class in: obs_toilet_7
There is 2 Class in: obs_toilet_8
There is 2 Class in: obs_toilet_0
There is 2 Class in: obs_toilet_97
There is 2 Class in: obs_toilets_children
There is 2 Class in: obs_toilets_gender
There is 5 Class in: obs_building
There is 2 Class in: obs_shared
There is 2 Class in: obs_outdoor
There is 28 Class in: obs_equipment
There is 2 Class in: obs_equipment_0
There is 2 Class in: obs_equipment_1
There is 2 Class in: obs_equipment_2
There is 2 Class in: obs_equipment_3
There is 2 Class in: obs_equipment_4
There is 2 Class in: obs_equipment_5
There is 2 Class in: obs_equipment__1
There is 4 Class in: obs_condition_equipment
There is 2 Class in: obs_fence
There is 2 Class in: obs_gate
There is 2 Class in: obs_access
There is 2 Class in: obs_water_running
There is 9 Class in: id_prov
There is 3 Class in: grade_r
There is 2 Class in: professionals_practitioners
There is 3 Class in: certificate_registration_partial
There is 3 Class in: certificate_registration_program
There is 3 Class in: certificate_registration_npo
There is 3 Class in: certificate_register
There is 2 Class in: census
There is 2 Class in: urban
There is 4 Class in: phase_natemis
There is 12 Class in: language_child
There is 13 Class in: language_assessment
There is 4 Class in: facility_type
There is 2 Class in: sef_ind
There is 2 Class in: elp_ind
There is 2 Class in: gps_ind
There is 2 Class in: pre_covid
There is 2 Class in: quintile_used
There is 5 Class in: ses_cat
----------------------------------
We have 276 features
We have 199 categorical features
We have 0 features that have more than 6000 of missing values

In [ ]:
len(nums)

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

77

In [ ]:
276 - 199

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

77

In [ ]:
Train = Train[features]
#Test  = Test[features[:-1]]

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
ff=['id','target','kfold','pri_toys']
useful_feature=[c for c in nums if c not in ff]

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
sel = VarianceThreshold(threshold=0)
sel.fit(Train[useful_feature])  # fit finds the features with zero variance

In [ ]:
sum(sel.get_support())

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

76

In [ ]:
sel = VarianceThreshold(threshold=0.01)  # 0.1 indicates 99% of observations approximately

sel.fit(Train[useful_feature])  # fit finds the features with low variance

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

VarianceThreshold(threshold=0.01)

In [ ]:
sum(sel.get_support())

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

74

In [ ]:
# finally we can print the quasi-constant features
print(
    len([
        x for x in Train[useful_feature].columns
        if x not in Train[useful_feature].columns[sel.get_support()]
    ]))

[x for x in Train[useful_feature].columns if x not in Train[useful_feature].columns[sel.get_support()]]

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

2

['count_staff_gender_other', 'language_match']

In [ ]:
# print the constant features
print(
    len([
        x for x in Train[useful_feature].columns
        if x not in Train[useful_feature].columns[sel.get_support()]
    ]))

[x for x in Train[useful_feature].columns if x not in Train[useful_feature].columns[sel.get_support()]]

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

0

[]

In [ ]:
h=[]
for i in  train.columns[1:]:
  if train[i].nunique()<2:
    h.append(i)

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
h

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

['pri_toys', 'pri_locationother', 'other_practitioner']

In [ ]:
train['other_practitioner'].isnull().sum()

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

8581

In [ ]:
train['pri_toys'].isnull().sum()

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

3418

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8585 entries, 0 to 8584
Columns: 679 entries, child_id to target
dtypes: float64(160), object(519)
memory usage: 44.5+ MB

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/zindi/zindi_DataDrive2030 Early Learning Predictors Challenge/Test_zindi_nn.csv')
test.head()

<ipython-input-4-723ccd8a6193>:1: DtypeWarning: Columns (172,252,254,257,275,343,358,359,461,641,642,643) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('/content/drive/MyDrive/zindi/zindi_DataDrive2030 Early Learning Predictors Challenge/Test_zindi_nn.csv')

,child_id,data_year,child_date,child_age,child_enrolment_date,child_months_enrolment,child_grant,child_years_in_programme,child_height,child_observe_attentive,...,obs_cooking_4,obs_cooking_5,obs_cooking_6,obs_heating_1,obs_heating_2,obs_heating_3,obs_heating_4,obs_heating_5,obs_heating_6,obs_heating_7
0,ID_0I0999N6S,2021.0,2021-09-20,57.000000,NaN,NaN,Yes,2nd year in programme,108.0,Almost always,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID_GQ6ONJ4FP,2021.0,2021-10-21,54.000000,2021-01-10,9.0,Yes,1st year in the programme,105.0,Almost always,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID_YZ76CVRW3,2021.0,2021-05-17,57.000000,NaN,NaN,Yes,NaN,101.5,Often,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID_BNINCRXH8,2022.0,2022-09-09,59.334702,NaN,NaN,NaN,3rd year in programme,NaN,Almost always,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,ID_1U7GDTLRI,2021.0,2021-10-12,54.000000,2021-01-15,8.0,Yes,1st year in the programme,103.5,Often,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sub = pd.read_csv('/content/drive/MyDrive/zindi/zindi_DataDrive2030 Early Learning Predictors Challenge/SampleSubmission.csv')
sub.head()

,child_id,target,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,ID_0I0999N6S,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
1,ID_GQ6ONJ4FP,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
2,ID_YZ76CVRW3,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
3,ID_BNINCRXH8,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
4,ID_1U7GDTLRI,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature

#eda

In [ ]:
df = train.copy()

In [ ]:
df.isnull().sum(axis=1)

In [ ]:
df['null_c'] = df.isnull().sum(axis=1)

In [ ]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)

In [ ]:
missing_value_df = missing_value_df.reset_index(drop=True)

In [ ]:
missing_value_df

                column_name  percent_missing
0                  child_id         0.000000
1                 pre_covid         0.000000
2                   sef_ind         0.000000
3       language_assessment         0.000000
4                   hle_ind         0.000000
..                      ...              ...
674   pra_class_space_small        99.895166
675        pri_founderother        99.906814
676  pri_clinic_travelother        99.941759
677       pri_locationother        99.941759
678      other_practitioner        99.953407

[679 rows x 2 columns]

In [ ]:
d_c = missing_value_df[missing_value_df.percent_missing>50]

In [ ]:
dd = d_c.column_name.values

In [ ]:
len(dd)

431

In [ ]:
df_drop = df.drop(dd, axis=1, inplace=True)

In [ ]:
df_drop.head()

AttributeError: ignored

In [ ]:
train.shape

(8585, 679)

In [ ]:
df.shape

(8585, 249)

#model

In [ ]:
# Install eli5, you can use any other model Interpretability libraries
!pip install eli5 -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 216.2/216.2 KB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for eli5 (setup.py) ... done

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import eli5
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from xgboost import XGBRegressor

In [ ]:
model = XGBRegressor(**params,random_state=42)
model.fit(xtrain,ytrain,eval_set=[(xvalid,yvalid)],verbose = 20,early_stopping_rounds=300)

In [ ]:
df.head()

,child_id,data_year,child_date,child_age,child_grant,child_years_in_programme,child_height,child_observe_attentive,child_observe_concentrated,child_observe_diligent,...,ses_proxy,quintile_used,id_facility_n,id_ward_n,id_mn_n,id_dc_n,id_prov_n,ses_cat,target,null_c
0,ID_SYSJ2FM0D,2022.0,2022-02-03,59.000000,NaN,NaN,NaN,Sometimes,Sometimes,Sometimes,...,2.0,Yes,7.0,14.0,107.0,134.0,1051.0,NaN,51.500000,629
1,ID_J5BTFOZR3,2019.0,NaN,60.163933,NaN,1st year in the programme,103.000000,Sometimes,Almost never,Sometimes,...,4.0,Yes,24.0,NaN,NaN,367.0,1832.0,NaN,55.869999,636
2,ID_R00SN7AUD,2022.0,2022-03-11,69.000000,NaN,NaN,108.400002,Often,Often,Sometimes,...,1.0,No,8.0,24.0,1448.0,1448.0,3214.0,R0-110,47.520000,599
3,ID_BSSK60PAZ,2021.0,2021-10-13,53.000000,No,1st year in the programme,98.099998,Almost always,Almost always,Sometimes,...,3.0,No,4.0,22.0,76.0,629.0,3214.0,R291-750,58.599998,418
4,ID_IZTY6TC4D,2021.0,2021-10-13,57.000000,NaN,2nd year in programme,114.000000,Almost always,Almost always,Almost always,...,1.0,No,1.0,30.0,71.0,315.0,1832.0,R0-110,76.599998,90

In [ ]:
y = train.target

num_cols = list(set(test.select_dtypes('number')).intersection(df.select_dtypes('number')))
X = df[num_cols]
X = X.fillna(0)

# Split data into training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1234)

# Train a model
#model = LinearRegression()
model = XGBRegressor(n_estimators = 1000,random_state=42)

model.fit(X_train, y_train,eval_set=[(X_test,y_test)],verbose = 20,early_stopping_rounds=300)

# Make predictions
y_pred = model.predict(X_test)

# Check score
mean_squared_error(y_test, y_pred, squared=False)

[0]	validation_0-rmse:36.16522
[20]	validation_0-rmse:10.54208
[40]	validation_0-rmse:10.36238
[60]	validation_0-rmse:10.35006
[80]	validation_0-rmse:10.30769
[100]	validation_0-rmse:10.31300
[120]	validation_0-rmse:10.33360
[140]	validation_0-rmse:10.37344
[160]	validation_0-rmse:10.41654
[180]	validation_0-rmse:10.44838
[200]	validation_0-rmse:10.48805
[220]	validation_0-rmse:10.48384
[240]	validation_0-rmse:10.50830
[260]	validation_0-rmse:10.53374
[280]	validation_0-rmse:10.55403
[300]	validation_0-rmse:10.54322
[320]	validation_0-rmse:10.54851
[340]	validation_0-rmse:10.57360
[360]	validation_0-rmse:10.58750
[380]	validation_0-rmse:10.60949
[385]	validation_0-rmse:10.61306

10.297547069218139

In [ ]:
eli5.show_weights(model, feature_names=num_cols)

In [ ]:
eli5.explain_prediction_df(estimator=model, doc=X_test.iloc[1], top = 15)

   target                    feature     weight       value
0       y                     <BIAS>  48.262802    1.000000
1       y                  child_age   6.824091   63.770493
2       y    teacher_emotional_total   2.868578   10.000000
3       y                    id_dc_n   1.597184  695.000000
4       y                  child_zha   1.313447    0.196988
5       y                  ses_proxy   1.065035    1.000000
6       y              id_enumerator   0.992514    0.000000
7       y  count_children_attendance   0.458429    0.000000
8       y   count_register_year_2020   0.281917    0.000000
9       y                  longitude   0.225573    0.000000
10      y                    id_mn_n  -0.300223  366.000000
11      y         count_register_all  -0.498802    0.000000
12      y               child_height  -0.806489  112.000000
13      y                id_facility  -1.407556   64.000000
14      y        child_observe_total  -2.714479    6.000000

In [ ]:
preds = model.predict(test[num_cols].fillna(0))
preds

array([63.324017, 48.367588, 51.42129 , ..., 42.417145, 37.972633,
       46.645893], dtype=float32)

In [ ]:
# Get the top five features for each predictions
top_predictors = []
for i in range(test.shape[0]):
  predictors = eli5.explain_prediction_df(estimator=model, doc=test[num_cols].fillna(0).iloc[i], top = 15)
  top_predictors.append(predictors.feature.tolist())

In [ ]:
sub.head()

,child_id,target,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,ID_0I0999N6S,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
1,ID_GQ6ONJ4FP,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
2,ID_YZ76CVRW3,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
3,ID_BNINCRXH8,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature
4,ID_1U7GDTLRI,0,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature,feature

In [ ]:
# Submission file preparation
predictors = pd.DataFrame(top_predictors, columns = ['feature_' + str(i) for i in range(1,16)])
predictors['target'] = preds
predictors['child_id'] = test.child_id
predictors = predictors[sub.columns.tolist()]
predictors.head()

,child_id,target,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,ID_0I0999N6S,63.324017,<BIAS>,child_observe_total,teacher_emotional_total,id_facility,count_staff_gender_female,pri_fees_amount_pv,count_children_present,count_staff_qual_skills,count_register_year_2018,longitude,child_height,child_zha,id_enumerator,latitude,child_age
1,ID_GQ6ONJ4FP,48.367588,<BIAS>,child_observe_total,teacher_emotional_total,pri_fees_amount_pv,child_height,teacher_social_total,pri_fees_amount,id_enumerator,count_register_race_african,child_zha,id_mn_n,id_ward,latitude,id_dc_n,child_age
2,ID_YZ76CVRW3,51.421291,<BIAS>,longitude,child_observe_total,child_zha,id_enumerator,latitude,count_register_year_2021,count_register_gender_male,count_children_present,id_dc_n,ses_proxy,id_ward_n,id_ward,child_age,teacher_emotional_total
3,ID_BNINCRXH8,67.535774,<BIAS>,child_observe_total,id_enumerator,count_staff_gender_female,pri_fees_amount,count_register_race_african,count_register_gender_female,count_register_all,child_height,child_age,teacher_emotional_total,count_children_attendance,longitude,latitude,id_facility
4,ID_1U7GDTLRI,38.663303,<BIAS>,child_observe_total,count_register_race_coloured,id_ward,count_register_year_2020,pri_fees_amount,count_children_present,count_children_attendance,teacher_selfcare_total,id_facility,pri_time_close_hours,teacher_social_total,teacher_emotional_total,pri_time_open_hours,child_age

In [ ]:
# Create csv to upload to Zindi for scoring
predictors.to_csv('BaselineSubmission_2.csv', index = False)